&--portfolio {
  .projet {
    width: 40%;
    height: 45vh;

    img, svg {
      min-width: 40vw;
    }
    &:nth-child(4n+1), &:nth-child(4n+4) {
      width: 60%;
      img, svg {
        min-width: 65vw;
      }
    }
  }
}