/* ANIMATIONS titre home */
@-webkit-keyframes starter {
  0%, 50% {
    filter: opacity(0) blur(100px);
    transform: translateX(-120px) translateY(0);
  }
  100% {
    // transform: matrix(1, 0, 0, 1, 0, 0);
    transform: translateX(0) translateY(0);
    filter: opacity(1) blur(0);
  }
}
@-webkit-keyframes starterBottom {
  0%, 80% {
    filter: opacity(0);
    transform: translateX(60px) translateY(0);
  }
  100% {
    // transform: matrix(1, 0, 0, 1, 0, 0);
    transform: translateX(0) translateY(0);
    filter: opacity(1);
  }
}
.starter {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  animation: starter 4s 1;

  &--a {
    animation: starter 4s 1;
  }
  &--b {
    animation: starterBottom 4s 1;
  }
}

/* spl */

/* ANIMATIONS titre home */
@-webkit-keyframes startmatrix_top {
  0% {
    transform: translateX(0) translateY(120px);
    filter: blur(10px);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(0);
  }
}
@-webkit-keyframes startmatrix_bottom {
  0% {
    transform: translateX(0) translateY(-120px);
    filter: blur(10px);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(0);
  }
}

/* pour home */
.spl--intro {
  .spl--letter:nth-child(2n) {
    animation: startmatrix_top 2s 1;
  }
  .spl--letter:nth-child(2n+1) {
    animation: startmatrix_bottom 2s 1;
  }
}

/* pour tous */
.section {
  .o_title, .anime {
    .spl--letter:nth-child(2n) {
      transform: translateZ(0) translateY(120px);
      filter: blur(10px);
      transition: transform filter 2s ease-in;
      transition: 1.5s transform,1.5s filter,1.5s -webkit-filter;
    }
    .spl--letter:nth-child(2n+1) {
      transform: translateZ(0) translateY(-120px);
      filter: blur(10px);
      transition: transform filter 2s ease-in;
      transition: 1.5s transform,1.5s filter,1.5s -webkit-filter;
    }
  }
}
.spl {
  &--p, &--intro {
    .spl--word {
      margin: 0 6px;
    }
    .spl--letter {
      // -webkit-backface-visibility: hidden;
      // backface-visibility: hidden;
    }
    .spl--letter {
      display: inline-block;
    }
  }
}

/* 3 D --------------------------------- */
// .projet {
//   perspective: 2800px;

//   a.test {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     border: 1px solid red;
//   }
// }
// .projet--alaune-bg {
//   position: absolute;
//   margin: auto;
//   min-width: 100vw;
//   top: -9000px;
//   right: -9000px;
//   bottom: -9000px;
//   left: -9000px;
//   transition: .25s opacity, .25s filter, .25s -webkit-filter;
//   min-width: 101%;
//   min-height: 105%;
// }
// .projet--infos {

//   /* le parent */

//   transform: translateZ(0) translateY(0);
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   -webkit-perspective: 2800px;
//   perspective: 2800px;

//   &.cible {
//     transform: translateZ(0px); /* Force correct stacking order */
//     transition: transform 0.2s ease-out;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     border: 1px solid red;
//     // -webkit-filter: grayscale(1);
//   }
// }


/* ------------------ */
/* TILT */
.projet {
  display: block;
  position: relative;
  margin: 0;
  color: #fff;
  flex: none;
  perspective: 800px;
  letter-spacing: 1px;
  text-rendering: auto;
  word-spacing: normal;
  // width: 50%;
  // height: 45vh;
  display: inline-block;
  // float: left;
  vertical-align: top;
  position: relative;
}



.page-template-tpl-home.tilt {



.tilter {
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #131313;
  position: absolute;
  margin: auto;
}
.tilter * {
  // pointer-events: none;
}
.tilter:hover, .tilter:focus {
  color: #fff;
  outline: none;
}
.tilter__figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.tilter__image {
  position: absolute;
  margin: auto;
  min-width: 100vw;
  top: -9000px;
  right: -9000px;
  bottom: -9000px;
  left: -9000px;
  transition: .25s opacity, .25s filter, .25s -webkit-filter;
  // min-width: 101%;
  min-width: 110%;
  // min-height: 105%;
  min-height: 110%;
  max-width: 100vw;
  z-index: 1;
  opacity: 0.4;
  -webkit-filter: grayscale(1) contrast(1.2);
  filter: grayscale(1) contrast(1.2);
  -webkit-transform: translateZ(-20px);
  transform: translateZ(-20px);

}
.tilter__figure > * {
  transform: translateZ(0px);  /* Force correct stacking order */
}
.smooth .tilter__figure img,
.smooth .tilter__figure svg,
 .smooth .tilter__deco--overlay, .smooth .tilter__deco--lines, .smooth .tilter__deco--shine div, .smooth .tilter__caption {
  transition: .25s opacity, .25s filter, .25s -webkit-filter;
  transition: transform 0.2s ease-out;
}
.tilter__figure {
  position: relative;
}
.tilter__figure::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tilter__deco--overlay {
  z-index: 0;
  background-color: #0527a5;
}
.tilter__deco--shine div {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}
.tilter__deco--lines {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}
.tilter__caption {
  text-align: center; 
  margin: auto;  
  width: auto;
  padding:  5%;
  z-index: 1;
}
.tilter__title {
  margin: 0;
  line-height: 1;
}
.tilter__description {
  margin: 1em 0 0 0;
  letter-spacing: 0.15em;
}

.smooth .tilter__figure img,
.smooth .tilter__figure svg,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
  transition: .25s opacity,.25s filter,.25s -webkit-filter;
  transition: transform 0.2s ease-out;
}

}







/*---------------*/
/***** Bubba *****/
/*---------------*/

.projet .tilter::before,
.projet .tilter::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  content: '';
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  z-index:100;
}

.projet .tilter::before {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  transform: scale(1,1);
}

.projet .tilter::after {
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  transform: scale(1,0);
}

.projet:hover .tilter::before,
.projet:hover .tilter::after {
  opacity: 1;
  transform: scale(1);
}


.projet--waiting .tilter__image {
    opacity: 0;
}




/* pour card expand */

.projet .tilter::before,
.projet .tilter::after {
  pointer-events: none;
}
.tilt .card__content.tilter__caption {
   pointer-events: none;
}
body.body--hidden {
  svg {
    transform: initial !important;
  }
  .card__image {
      width: 100%;
  }
  .tilter__deco {
    display: none !important;
}
.projet .tilter::before {
    display:none;
}

.card__btn-close {
    font-size: 58px;
    position: relative;
border:1px solid red;
    z-index: 1000000000;
}


}



/* ---------------- */
/* CARD -----------*/


.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

body.body--hidden {
  overflow: hidden;
}

body.body--hidden .projet{
     perspective: initial;
}

body.body--hidden .codrops-header,
body.body--hidden .content--related {
  opacity: 0;
}

.codrops-header,
.content--related {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
/* PATTERN */
.tilter__deco{
      pointer-events: none;
}
.card__content {
  color: red;
}
.card__container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.card__container--closed {
  position: absolute;
  overflow: hidden;
}

.card__image {
  height: 100%;
  max-height: 500px;
}

.card__container--closed .card__image {
  cursor: pointer;
}

.card__caption {
  font-size: 2em;
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 30px 0px;
}

.card__container--closed .card__caption {
  font-size: 1em;
  max-width: none;
  padding: 30px 10px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}


.card__btn-close {
  font-size: 18px;
  position: absolute;
  top: 50%;
  color:red;
  right: 0;
  padding: 36px;
  cursor: pointer;
}

.card__container--closed .card__btn-close {
  display: none;
}
