/* Header
------------------------- */
.site-header {
  background-color: #f9f9f6;
  height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
    z-index: -1;
    position: fixed;
    width: 100%;
    .ghost-wrap {
          height: 80vh;
    }
    .fa {
      font-size: 30px;
      padding:30px 0 0 30px;
    }
  &--logo {
    text-align: right;

    .main_title {
    font-family: pacifico;
    font-size: 65px;
    line-height: 65px;
    font-weight: 300;
    }
    .o_title {
      @extend %titre-forts;
      font-size: 30px;
    line-height: 30px;
    text-align: right;
    }
  }
  > div {
    a {
      display: block;
    }
    img {
      vertical-align: middle;
    }
  }
  &-menu {
    float: right;
    padding: 0 20px;

    #site-navigation .btn.menu-item a {
      background-color: transparent;
      border: 1px solid $color-border-light;
      display: inline-block;
      font-size: 15px;
      line-height: initial;
      padding: 19px 21px;
      text-decoration: none;
      // color: #ffffff;
      text-transform: none;

      span {
        font-weight: bold;
      }
    }
  }
}

/* INFOS HEADER */

/* MENU */

#site-navigation, #site-navigation-switcher {
  li {
    &.up {
      a {
        &::after {
          @extend %chevron;
        }
      }
    }
  }
}