#page {
  overflow: hidden;
}

/* Slider
------------------------- */
.slider {

  /* empty */
}

/* les sections
------------------------- */
%border {
  border-color: $color-border-light;
  border-style: solid;
}
.section {
  .next {
margin-top:50px;
    color: #0000ff;
  }
  .o_title {
    @extend %titre-forts;
    font-size: 52px;
    line-height: 52px;
    margin: 30px 0 40px 0;

    /* margin-top: 10px; */
    &:after {
      display: none;
    }
  }
}
.home {
  p {
    margin: 0;
  }
}
@import 'section/sections';