@font-face {
	font-family: 'Aaargh';
	src: url('../fonts/aaa/AaarghNormal.eot');
	src: url('../fonts/aaa/AaarghNormal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/aaa/AaarghNormal.woff2') format('woff2'),
		url('../fonts/aaa/AaarghNormal.woff') format('woff'),
		url('../fonts/aaa/AaarghNormal.ttf') format('truetype'),
		url('../fonts/aaa/AaarghNormal.svg#AaarghNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Znikomit';
	src: url('../fonts/zni/Znikomit.eot');
	src: url('../fonts/zni/Znikomit.eot?#iefix') format('embedded-opentype'),
		url('../fonts/zni/Znikomit.woff2') format('woff2'),
		url('../fonts/zni/Znikomit.woff') format('woff'),
		url('../fonts/zni/Znikomit.ttf') format('truetype'),
		url('../fonts/zni/Znikomit.svg#Znikomit') format('svg');
	font-weight: 100;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700|Josefin+Slab:300,400|Pacifico');
