$color-main-1: #006;
$color-main-2: #ffffbc;
$color-background-body: #fff;
$color-background-footer: #ffffbc;
$color-background-site-branding: #323232;
$color-background-dark: #3a3a3a;
$color-background-light: #f2f2f2;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #323232;
$color-background-pre: rgba(0, 0, 0, 0.2);
$color-background-ins: #fff9c0;
$color-background-btn-action: #323232;
$color-text-screen: #323232;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-link: #5e5e5e;
$color-link-visited: #5e5e5e;
$color-link-hover: #323232;
$color-text-main: #000066;
$color-text-main-footer: #000066;
$color-text-menu: #000066;
$color-text-price: #5e5e5e;
$color-text-title: #323232;
$color-text-title-header: #fff;
$color-text-bouton: #fff;
$color-text-bouton-action: #fff;
$color-text-slider: #fff;
$color-text-light: #9e9e9e;
$color-border-button: #e9e9e9;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;
$color-border-light: #e9e9e9;
$color-border-dark: #ccc;
