/* Slider
------------------------- */
.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* les sections
------------------------- */
[class*='section--'] .o_title {
  font-size: 72px;
  line-height: 72px;
}
.gridsection {
  display: table;
  vertical-align: top;
  width: 100%;

  > div {
    display: table-cell;
    width: 50%;
  }
}
.home {
  .section {
    margin: 0 40px;
    padding: 40px;
      &--portfolio {
      .projet {
        width: 33.33%;
        height: 310px;
      }
    }
  }
}