/* Slider
------------------------- */
.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* les sections
------------------------- */
[class*='section--'] .o_title {
  font-size: 72px;
  line-height: 72px;
}
.gridsection {
  display: table;
  vertical-align: top;
  width: 100%;

  > div {
    display: table-cell;
    width: 50%;
  }
}
.home {
  }
  .section {
        padding: 50px;
    &--apropos {
            p {
        font-size:18px;
        line-height: 25px;
        letter-spacing:1px;

      }
      .container-small {
        width: 50%;
        margin:0 auto;
      }
    }
      &--portfolio {
      .projet {
        width: 33.33%;
        height: 33.33vh;
      }
    }
  }
