/* Slider
------------------------- */
.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* les sections
------------------------- */

.col-3 {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;

  > div {
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 4%;
    text-rendering: auto;
    vertical-align: top;
    width: 28.1%;
    word-spacing: normal;
  }
}

.gridsection {
  display: table;
  vertical-align: top;
  width: 100%;

  > div {
    display: table-cell;
    width: 50%;
  }
}

.home {
  [class*='section--'] {
    /*   padding-bottom: 130px;
  padding-top: 130px; */
  }

  .section {
    &--intro {
      .solution {
        &--img {
          /* empty */
        }

        &--contenu {
          /* empty */
        }

        &--btn {
          /* empty */
        }
      }
    }
  }
}
