/* Header
------------------------- */
.site-header {
  // border: 1.25em solid #ffff99;
  padding: 0;

  &--menu {
    top: 40px;
    right: 40px;
  }
  &--logo {
    position: relative;
    width: auto;
    text-align: center;

    &--details {
      // text-align: center;


      // &:before {
      //   content: "";
      //   display: block;
      //   width: 1px;
      //   height: 60px;
      //   background-color: $color-main-1;
      //   transform: rotate(-35deg);
      //   position: absolute;
      //   top: -40px;
      //   left: -30px;
      // }
   
    }
    .slogan {
     text-align: right;
    .o_title {
      text-align: right;
          padding: 0 0 30px 0;
      &:after {
        left:initial;
        right:0;
      }
    }
    }
  }
  .fa {
font-size: 40px;
    padding: 80px 10px 0 10px;
  }
}


/* Slider
------------------------- */

/*
 * Menu
**/